h1 {
	color: white; 
	font-family: 'Open Sans', sans-serif; 
	font-size: 48px;
	margin-bottom: 0rem;
} /* the color is a darkish shade of purple */ 

.jumbotron {
    margin-bottom: 0px;
    padding: 2rem 0rem;
    background-color: gray;
 }

.SiteNavBorder {
	border-style: solid; 
	border-width: 1px;
	padding: 0rem;
} 

.subtitle{
	margin-bottom: 0rem;
	margin-left: 0.1rem;
	color:white;
}

.IntroParagraph{
	margin-top: 1rem;
	border-style: solid;
	border-width: 0.5px;
	margin: 25px;
	margin-bottom: 0rem;
}

.ContainerTextBox{
    width: 100%;
    padding-right: 0px;
    padding-left: 5px;
    margin: 0px;
    background-color: lightgray;
}

.IntroText{
	font-family:'Open Sans', sans-serif; 
	font-size: 16px;
	margin: 0px;
}

.images{
	margin-left:25px;
	margin-top:25px;
	margin-right: 25px;
}

#coffeeShop{
	height: 350px;
}

.blurb{
	margin-left:115px;
	font-size: 14px;
}

.page-footer{
	margin-top: 25px;
	background-color: lightgray;
	margin-bottom: 0px;
	font-size: 14px;
	padding-top: 0px;
	padding-bottom: 0px;
}


h5{
	margin-top: 5px;
	margin-left: 25px;
}

h2{
	margin-left: -5px;
}

h4{
	margin-right: 0px;
}

#logo{
	height: 75px;
	margin-right: 50px;
}

#form1,#form2,#form3{
	padding: 0px;
	margin: 0px;
}

#onlyButton{
	margin-top: 5px;
}