h1{
	font-size: 48px;
	color: navy;
	padding: 0px;
	margin: 0px;
}

#firstContainerFluid{
	background-color: lightgray;
}

#firstContainer{
	background-color: darkgray;
}

#firstRow{
	background-color: lightblue;
}

#secondRow{
	background-color: crimson;
	color: white;
}

#dune{
	margin: auto;
	height: 25%;
	width: 25%;
}